.title{
    --background:#a9a9a9;
    color:#4e4e4e;
    text-align: left;
}
//scrollbar
ion-checkbox, ion-card{
    display: inline-block;
    width:100px;
    height:120px;
}
.scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar{
        display: none;
    }
}

ion-checkbox{
    display: inline-block;
    width:100px;
    height:120px;
    opacity: 10%;
    --color: #000000;
    --background: #000000;
    --checkmark-color: #ffffff;
    --background-checked: #0000cc;
    --border-color-checked: #0000cc;
}
