<ion-header>
  <ion-toolbar class="title">
    <ion-title>Desert</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3>Legume:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': cartofiURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': dovleacURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ghimbirURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': morcovURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
  </div>
  <h3>Fructe:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': afineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ananasURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': avocadoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': bananeURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': caiseURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': capsuniURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': clementineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cireseURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': coacazeURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cocosURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': dudeURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': grepfrutURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': gutuieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': kiwiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lamaieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': limeURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mandarinaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mangoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': marURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': maslineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mureURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': papayaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': paraURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pepene_GURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pepeneURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': piersicaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': portocalaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': prunaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': rodieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': smochineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': struguriURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': visineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': zmeuraURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Produse animale:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': ouURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Lactate:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': branzaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cascavalURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': friscaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': iaurtURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lapteURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mascarponeURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': smantanaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': telemeaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': untURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': urdaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Carbohidrati:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': biscuitiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': fainaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': grisURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lipieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': orezURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': paineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pasteURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pesmetURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': piscoturiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': tartaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Condimente:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': cacaoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cafeaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ciocolataURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mentaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': miereURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': nucsoaraURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': romURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': sareURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': scortisoaraURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ulei_FSURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ulei_MURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': vanilieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': zaharURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <ion-button expand="block" routerLink="/recipes" routerDirection="forward">
    Retete
  </ion-button>
  <ion-button expand="block" routerLink="/home" routerDirection="forward">
    Back
  </ion-button>
</ion-content>
