ion-button{
    --background:#e6e6ff;
    --background-hover: #e6e6ff;
    --color:  #4e4e4e;
    width: 250px;
    height:100px;
    --opacity: 75%;
    font-weight: bold;
    font-size:20px;
    //font-family: "Indie Flower";
    //src: url('../../../fonts/IndieFlower-Regular.ttf');
}

#BM{
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#BD{
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

 .Content{
     padding-top: 2.35cm;
     padding-left: 0.6cm;
 
}

 .title{
     --background:  #a9a9a9;
     color:#4e4e4e;
     text-align: left;
 }

 ion-content{
    --background: url('../../../images/coo.jpg') no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
 }
