<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <ion-toolbar class="title">
    <ion-title>
      Cook-Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Content">
    <ion-button id= "BM" expand="block" routerLink="/food" routerDirection="forward">
      Mancare
    </ion-button>
  </div>
  <div class="Content">
    <ion-button id= "BD" expand="block" routerLink="/desert" routerDirection="forward">
      Desert
    </ion-button>
  </div>
</ion-content>
