ion-button{
    --background:#e6e6ff;
    --background-hover: #e6e6ff;
    --color:  #4e4e4e;
    width: 250px;
    height:100px;
    --opacity: 75%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}
ion-title{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Satisfy', cursive; 
 }

#BM{
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#BD{
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Content{
     padding-top: 2.35cm;
     padding-left: 0.6cm;
 
}

 .title{
     --background:  #a9a9a9;
     color:#4e4e4e;
     text-align: center;    
 }

 ion-content{
    --background: url('../../assets/coo.jpg') no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
 }


