<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <ion-toolbar class="title">
    <ion-title>Retete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pizza</ion-card-title>
      <ion-card-subtitle>
        <img src="../../assets/pizza.jpg"> 
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      INGREDIENTE PENTRU ALUAT:
      <p style="margin-left: 2em;">250 g faina</p> 
      <P style="margin-left: 2em;"> 150 ml apa calda</P> 
      <p style="margin-left: 2em;">25 g drojdie proaspata/un plic drojdie uscata</p>  
      <p style="margin-left: 2em;">3 linguri ulei masline</p>
      <p style="margin-left: 2em;">o lingurita zahar</p>  
      <p style="margin-left: 2em;">un praf de sare</p>  
      <p>TOPPINGURI:</p>
      <p style="margin-left: 2em;">oregano</p>  
      <p style="margin-left: 2em;">2 linguri de suc de rosii</p> 
      <p style="margin-left: 2em;">mozarella/cascaval</p>
      <p style="margin-left: 2em;">sunca</p>  
      <p style="margin-left: 2em;">ciuperci</p>
      <p style="margin-left: 2em;">masline</p> 
      <p style="margin-left: 2em;">ardei</p>  
      <p style="margin-left: 2em;">porumb</p>  
      <p>MOD DE PREPARARE:</p>
      <p>1. Daca folosesti drojdie proaspata, dizolva drojdia in apa calda. Amesteca toate ingredientele uscate, adauga apoi apa, urmata de ulei.</p> 
      <p>2. Framanta aluatul, iar daca este inca lipicios, mai adauga faina pana devine fin. Lasa aluatul deoparte pentru 20-30 de minute la cald.</p> 
      <p>3. Intre timp pregateste toppingurile. Cand aluatul a crescut, unge o tava cu diametrul de ~30 cm si pune aluatul in centrul acesteia.</p> 
      <p>4. Folosind buricele degetelor, impinge aluatul in mod uniform, de jur imprejur, spre marginile tavii.</p> 
      <p>5. Daca doresti un blat normal pentru pizza de casa, inteapa aluatul din loc in loc folosind o furculita. Cu cat aluatul este mai intepat cu atat blatul va creste mai putin. Daca doresti o pizza de casa cu un blat pufos, poti sari peste aceasta etapa.</p> 
      <p>6. Combina bulionul cu 2 linguri de apa si intinde sosul obtinut pe tot aluatul, urmat de oregano si mozzarella/cascaval.
      <p>7. Aseaza restul ingredientelor pe pizza si da-o la cuptor pentru 30-40 de minute, pana cand blatul se coloreaza.
    </ion-card-content>
  </ion-card>
 
</ion-content>
