.title{
    --background:#a9a9a9;
    color:#4e4e4e;
    text-align: left;
}
//scrollbar
ion-card{
    display: inline-block;
    width:100px;
    height:120px;
}
.scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar{
        display: none;
    }
}
