<ion-header>
  <ion-toolbar class="title">
    <ion-title>Mancare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Legume:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': ardeiIURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiPURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiVURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiRURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
  </div>
  <h3>Fructe:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': afineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ananasURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': avocadoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': bananeURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Produse animale:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': baconURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': carasURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': carnatURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': crapURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Lactate:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': branza_brieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': branzaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cascavalURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': kefirURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Carbohidrati:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': biscuitiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cuscusURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': fainaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': grisURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h3>Condimente:</h3>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': boiaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': borsURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': busuiocURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cacaoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>


  <h1>Products</h1>
<!--trebuie sa bagam cumva sa retina cardurile datele din DB-->
  <ion-list>
    <ng-container *ngFor="let p of products">
      <ion-item>
        <div class="d-flex justify-content-between" style="width: 100%;">
          <div>{{p.id}}</div>
          <div>{{p.name}}</div>
          <div>{{p.description}}</div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <div>
    <ion-button expand="block" routerLink="/recipes" routerDirection="forward">
      Retete
    </ion-button>
    <ion-button expand="block" routerLink="/home" routerDirection="forward">
      Back
    </ion-button>
  </div>
</ion-content>