.title{
    --background:  #b32400;
    color:#e6e6ff;
    text-align: left;
}
//scrollbar
ion-card{
    display: inline-block;
    width:100px;
    height:120px;
}
.scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar{
        display: none;
    }
}
//photo-scrollbar legume
#l1{
    --background: url('../../../images/legume/ardei_iuti.jpg');
}
#l2{
    --background: url('../../../images/legume/ardei_porto.jpg');
}
#l3{
    --background: url('../../../images/legume/ardei_rosii.jpg');
}
#l4{
    --background: url('../../../images/legume/ardei_verzi.jpg');
}
//photo-scrollbar fructe
#f1{
    --background: url('../../../images/fructe/afine.png');
}
#f2{
    --background: url('../../../images/fructe/ananas.jpg');
}
#f3{
    --background: url('../../../images/fructe/avocado.jpg');
}
#f4{
    --background: url('../../../images/fructe/banane.jpg');
}
//photo-scrollbar produse animale
#pa1{
    --background: url('../../../images/prod_animal/bacon.jpg');
}
#pa2{
    --background: url('../../../images/prod_animal/caras.jpg');
}
#pa3{
    --background: url('../../../images/prod_animal/carnat.jpg');
}
#pa4{
    --background: url('../../../images/prod_animal/crap.jpg');
}
//photo-scrollbar lactate
#lc1{
    --background: url('../../../images/lactate/branza.jpg');
}
#lc2{
    --background: url('../../../images/lactate/branza_brie.jpg');
}
#lc3{
    --background: url('../../../images/lactate/cascaval.jpg');
}
#lc4{
    --background: url('../../../images/lactate/kefir.jpg');
}
//photo-scrollbar carbohidrati
#cb1{
    --background: url('../../../images/carbo/biscuiti.jpg');
}
#cb2{
    --background: url('../../../images/carbo/cuscus.jpg');
}
#cb3{
    --background: url('../../../images/carbo/faina.jpg');
}
#cb4{
    --background: url('../../../images/carbo/gris.jpg');
}
//photo-scrollbar condimente
#c1{
    --background: url('../../../images/condimente/boia.jpg');
}
#c2{
    --background: url('../../../images/condimente/bors.jpg');
}
#c3{
    --background: url('../../../images/condimente/busuioc.jpg');
}
#c4{
    --background: url('../../../images/condimente/cacao.jpg');
}
