<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <ion-toolbar class="title">
    <ion-title>Mancare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Legume:</h2>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': ardeiIURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiKURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiPURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiRURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ardeiVURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': broccoliURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cartofiURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cartofDURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': castraveteURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ceapaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': conopidaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': dovleacURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': dovlecelURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': fasoleURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ghimbirURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': gulieURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': hreanURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': leusteanURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': linteURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lobodaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mararURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mazareURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': morcovURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': nautURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pastarnacURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': patrunjelURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': prazURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ridicheURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': salataURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': sfeclaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': soiaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': spanacURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': sparanghelURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': stevieURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': telinaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': usturoiURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': varzaURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': vanataURL}">
      <ion-checkbox> </ion-checkbox>
    </ion-card>
  </div>
  <h2>Fructe:</h2>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': avocadoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': corcoduseURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lamaieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': maslineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': papayaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': rodieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': rosieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': struguriURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h2>Produse animale:</h2>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': baconURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': carasURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': carnatURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': crapURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': crenvurstiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': curcanURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': fructe_mareURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': jambonURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': macrouURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': oaieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ouURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pastravURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': platicaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': porcURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': prosciuttoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': puiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': salamURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': slaninaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': somnURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': somonURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': suncaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': vitaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h2>Lactate:</h2>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': branzaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': branza_brieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cascavalURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': gorgonzolaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': iaurtURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': kefirURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lapteURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mozzarellaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': parmezanURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': smantanaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': telemeaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': untURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': urdaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h2>Carbohidrati:</h2>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': cuscusURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': fainaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': lipieURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': malaiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': orezURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': paineURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pasteURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pesmetURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': tartaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h2>Condimente:</h2>
  <div class="scroll">
    <ion-card [ngStyle]="{ 'background-image': boiaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': borsURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': busuiocURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': capereURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': chiliURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': chimenURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': chimionURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': cimbruURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': coriandruURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': curryURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': dafinURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': maionezaURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': mustarURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': oreganoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': otetURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': pestoURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': piperURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': rozmarinURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': sareURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': sofranURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': tarhonURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ulei_FSURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': ulei_MURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': vinURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
    <ion-card [ngStyle]="{ 'background-image': wasabiURL}">
      <ion-checkbox></ion-checkbox>
    </ion-card>
  </div>
  <h1>Products</h1>
  <!--trebuie sa bagam cumva sa retina cardurile datele din DB-->
  <ion-list>
    <ng-container *ngFor="let p of products">
      <ion-item>
        <div class="d-flex justify-content-between" style="width: 100%;">
          <div>{{p.id}}</div>
          <div>{{p.name}}</div>
          <div>{{p.description}}</div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <div>
    <ion-button expand="block" routerLink="/recipes" routerDirection="forward">
      Retete
    </ion-button>
    <ion-button expand="block" routerLink="/home" routerDirection="forward">
      Back
    </ion-button>
  </div>
</ion-content>
