<ion-header>
  <ion-toolbar class="title">
    <ion-title>Mancare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Legume:</h3>
  <div class="scroll">
    <ion-card id="l1">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="l2">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="l3">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="l4">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
  </div>
  <h3>Fructe:</h3>
  <div class="scroll">
    <ion-card id="f1">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="f2">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="f3">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="f4">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
  </div>
  <h3>Produse animale:</h3>
  <div class="scroll">
    <ion-card id="pa1">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="pa2">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="pa3">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="pa4">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
  </div>
  <h3>Lactate:</h3>
  <div class="scroll">
    <ion-card id="lc1">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="lc2">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="lc3">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="lc4">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
  </div>
  <h3>Carbohidrati:</h3>
  <div class="scroll">
    <ion-card id="cb1">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="cb2">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="cb3">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="cb4">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
  </div>
  <h3>Condimente:</h3>
  <div class="scroll">
    <ion-card id="c1">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="c2">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="c3">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
    <ion-card id="c4">
      <input type="checkbox" aria-label="Checkbox">
    </ion-card>
  </div>

  <div>
    <ion-button expand="block" routerLink="/recipes" routerDirection="forward">
      Retete
    </ion-button>
    <ion-button expand="block" routerLink="/home" routerDirection="forward">
      Back
    </ion-button>
  </div>
</ion-content>